---
const {
    categories = [],
    tags = [],
    langCode,
} = Astro.props as {
    categories?: string[];
    tags?: string[];
    langCode: string;
};
---

<div class="text-sm text-gray-600 flex flex-wrap gap-1 my-3">
    {
        categories.length > 0 &&
            categories.map((category: string) => (
                <a
                    href={`/blog/${langCode}/categories/${category}`}
                    class="inline-flex items-center px-1 py-0.5 rounded bg-[var(--accent3)]/90 hover:bg-[var(--accent3)]/75 text-white text-xs font-semibold duration-300"
                >
                    <i class="material-icons icon-small mr-1 text-white">
                        folder
                    </i>{" "}
                    {category}
                </a>
            ))
    }
    {
        tags.length > 0 &&
            tags.map((tag: string) => (
                <a
                    href={`/blog/${langCode}/tags/${tag}`}
                    class="inline-flex items-center px-1 pl-0.5 pr-1.5 rounded bg-[var(--accent3)]/15 text-[var(--accent7)] hover:bg-[var(--accent3)]/35 hover:text-[var(--accent7)] text-xs font-medium transition-colors duration-300"
                >
                    <i class="material-icons icon-small mr-1 text-[var(--accent7)]">
                        local_offer
                    </i>{" "}
                    {tag}
                </a>
            ))
    }
</div>

<style>
    .icon-small {
        font-size: 14px !important;
        transform: scale(0.9);
    }
</style>
